<html>
    <head>
        <title>Blog leandro</title>
        <head>
            <body>
                <div>
                    <h1><a href="/">Blog leandro</a><h1>
                    </div>

                    <div>
                        <p>publicado:21.09.2023, 17:02</p>
                        <h2><a href="">Meu primeiro post</a></h2>
                        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi
                    </div>

                    <div>
                        <p>publicado:21.09.2023, 17:02</p>
                        <h2><a href="">Meu segundo post</a></h2>
                        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi
                    </div>
                </body>
            </html>     